.register{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.register form{
    padding: 50px 90px 50px 80px;
    width: 550px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    & h2{
        font-size: 50px;
        text-align: center;
        color: #025131;
        
    }


}

.register .inputLabel{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input{
        border:none;
        background-color: #D9D9D9;
        border-radius: 2px;
        height: 40px;
        padding: 10px;
        font-size: 20px;
    }

    & label{
        font-weight: 500;
    }
}

.register .bloqueSuperior{
    display: flex;
    justify-content: space-between;

    & .par{
        display: flex;
        gap: 30px;
        flex-direction: column;
        width: 45%;
    }
}

.register .botonera{
    display: flex;
    justify-content: center;
    gap: 27px;

    & .boton{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        color: black;
        width: 190px;
        height: 48px;
        border-radius: 30px;font-size: 20px;
        border: none;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.664);
        cursor: pointer;
    }

    & .aceptar{
        background-color: #98E3C5;
    }

}